<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuários</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex justify-center items-center h-screen m-10">

<div class="bg-white p-8 rounded-lg border-4 border-gray-300 w-full max-w-lg h-90">

    <div class="flex flex-col justify-center items-center ">
        <h2 class="text-xl font-black text-black text-center mb-4">Cadastro de Usuários</h2>
        <a class="text-black mb-4" th:href="@{/usuarios}">Lista de usuários </a>


    </div>

    <div class="flex items-center">
        <form th:action="@{/usuarios}" method="post" th:object="${usuario}">

            <!--            <input type="hidden" th:field="*{id}">-->

            <label class="block text-black font-medium mb-2" for="email">Email</label>
            <input class="w-96 p-3 border border-gray-300 rounded-lg" th:field="*{email}" type="email" id="email"
                   name="email" placeholder="Email">
            <li th:each="err : ${#fields.errors('email')}" th:text="${err}">ERRO</li>

            <label class="block text-black font-medium mb-2" for="senha">Senha</label>
            <input class="w-96 p-3 border border-gray-300 rounded-lg" th:field="*{senha}" type="password" id="senha"
                   name="senha" placeholder="Senha" required>
            <li th:each="err : ${#fields.errors('senha')}" th:text="${err}">ERRO</li>

            <input type="hidden" th:field="*{status}">


            <div class="flex justify-center items-center">
                <button class="mt-3 bg-violet-600 text-white rounded px-10 py-2 hover:bg-violet-300" type="submit">
                    Salvar
                </button>
            </div>
        </form>

    </div>
</div>

</body>
</html>