<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Clínicas</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex justify-center items-center h-screen m-10">

<div class="bg-white p-8 rounded-lg border-4 border-gray-300 w-full max-w-lg h-90" >

    <div class="flex flex-col justify-center items-center ">
        <h2 class="text-xl font-black text-black text-center mb-4">Cadastro de Clínicas</h2>
        <a class="text-black mb-4" th:href="@{/clinicas}">Lista de clínicas </a>


    </div>

    <div class="flex items-center">
        <form th:action="@{${clinica.id == null ? '/clinicas' : '/clinicas/editar/' + clinica.id}}"
              th:object="${clinica}" method="post">

            <input type="hidden" th:field="*{endereco.id}">
            <input type="hidden" th:field="*{usuario.id}">
            <input type="hidden" th:field="*{telefone.id}">



            <!-- Campo para CNPJ -->
            <label for="cnpj">CNPJ:</label>
            <input type="text" id="cnpj" th:field="*{cnpj}" required/>
            <br>

            <!-- Campo para Nome -->
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" required/>
            <br>

            <!-- Campo para Endereço -->
            <h3>Endereço</h3>
            <label for="rua">Rua:</label>
            <input type="text" id="rua" th:field="*{endereco.rua}" required/>
            <br>

            <label for="numero">Número:</label>
            <input type="text" id="numero" th:field="*{endereco.numero}" required/>
            <br>

            <label for="bairro">Bairro:</label>
            <input type="text" id="bairro" th:field="*{endereco.bairro}" required/>
            <br>

            <label for="cep">CEP:</label>
            <input type="text" id="cep" th:field="*{endereco.cep}" required/>
            <br>

            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" th:field="*{endereco.cidade}" required/>
            <br>

            <label for="estado">Estado:</label>
            <input type="text" id="estado" th:field="*{endereco.estado}" required/>
            <br>

            <label for="complemento">Complemento:</label>
            <input type="text" id="complemento" th:field="*{endereco.complemento}"/>
            <br>

            <!-- Campo para Usuario -->
            <h3>Usuário</h3>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{usuario.email}" required/>
            <br>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" th:field="*{usuario.senha}" required/>
            <br>

            <label for="status">Status:</label>
            <select th:field="*{usuario.status}">
                <option th:value="null" disabled selected>Selecione o status</option>
                <option th:value="ATIVO" th:text="Ativo">Ativo</option>
                <option th:value="INATIVO" th:text="Inativo">Inativo</option>
            </select>
            <br>

            <!-- Campo para Telefone -->
            <h3>Telefone</h3>
            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" th:field="*{telefone.tipo}" required/>
            <br>

            <label for="numeroTelefone">Número:</label>
            <input type="text" id="numeroTelefone" th:field="*{telefone.numero}" required/>
            <br>

            <!-- Botão para Submeter -->
            <button type="submit">Salvar</button>

        </form>

    </div>
</div>

</body>
</html>