<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body class="bg-gray-100">
<!-- Header -->
<header class="bg-white shadow-md mb-20">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <div class="text-2xl font-bold text-gray-800">
            <h1>Dental Insurance</h1>

        </div>

        <div class="flex gap-4 justify-end mb-4">
            <a href="?lang=pt" class="px-4 py-2 rounded-lg border border-gray-300 text-sm hover:bg-gray-100">
                🇧🇷 Português
            </a>
            <a href="?lang=en" class="px-4 py-2 rounded-lg border border-gray-300 text-sm hover:bg-gray-100">
                🇺🇸 English
            </a>
        </div>
        <nav class="hidden md:flex space-x-6">
            <a th:href="@{/}" class="text-gray-600 hover:text-blue-600">Home</a>
            <a th:href="@{/clinicas}" th:text="#{clinicas.header}"
               class="text-gray-600 hover:text-blue-600">Clínicas</a>
            <a th:href="@{/pacientes}" th:text="#{pacientes.header}"
               class="text-gray-600 hover:text-blue-600">Pacientes</a>
            <a th:href="@{/dentistas}" th:text="#{dentistas.header}"
               class="text-gray-600 hover:text-blue-600">Dentistas</a>
            <a th:href="@{/atendimentos}" th:text="#{atendimentos.header}" class="text-gray-600 hover:text-blue-600">Atendimentos</a>

        </nav>
        <div class="md:hidden">
            <button id="hamburger" class="focus:outline-none">
                <svg class="hamburger w-6 h-6 text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
    </div>
    <nav id="mobileMenu" class="md:hidden bg-white shadow-md">
        <a th:href="@{/}" class="block px-4 py-2 text-gray-600 hover:bg-gray-100">Home</a>
        <a th:href="@{/clinicas}" th:text="#{clinicas.header}" class="text-gray-600 hover:text-blue-600">Clínicas</a>
        <a th:href="@{/pacientes}" th:text="#{pacientes.header}" class="text-gray-600 hover:text-blue-600">Pacientes</a>
        <a th:href="@{/dentistas}" th:text="#{dentistas.header}" class="text-gray-600 hover:text-blue-600">Dentistas</a>
        <a th:href="@{/atendimentos}" th:text="#{atendimentos.header}" class="text-gray-600 hover:text-blue-600">Atendimentos</a>
    </nav>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const hamburger = document.getElementById('hamburger');
        const mobileMenu = document.getElementById('mobileMenu');

        hamburger.addEventListener('click', function () {
            mobileMenu.classList.toggle('hidden');
            hamburger.querySelector('.hamburger').classList.toggle('active');
        });
    });
</script>
</body>
</html>
