<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de telefones</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-6">
<div th:insert="~{fragments/header :: header}">
    MENU NO HEADER
</div>
<div>
    <h1 class="text-xl font-black text-black text-center mb-4">Lista de Telefones</h1>

    <div class="text-center mt-8">
        <a class="text-black mb-4" th:href="@{/telefones/novo}">Novo telefone</a>
    </div>

    <div class="p-6">
        <table class="w-full border-collapse">
            <thead>
            <tr class="bg-violet-600 text-white">
                <th class="p-3 text-left">ID</th>
                <th class="p-3 text-left">Número</th>
                <th class="p-3 text-left">Tipo do Telefone</th>
                <th class="p-3 text-left">Ações</th>
            </tr>
            </thead>

            <tbody>
            <tr class="border-b" th:each="telefone : ${telefones}">
                <td class="p-3 text-gray" th:text="${telefone.id}">id</td>
                <td class="p-3" th:text="${telefone.numero}">numero</td>
                <td class="p-3" th:text="${telefone.tipo}">tipo</td>

                <td class="p-3">
                    <a class="text-blue-600 hover:underline"
                       th:href="@{/templates/telefones/editar/{id}(id=${telefone.id})}">Editar</a>
                    <a class="text-blue-600 hover:underline"
                       th:href="@{/templates/telefones/deletar/{id}(id=${telefone.id})}">Deletar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>
